* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    color: white;
    font-family: sans-serif;
    font-size: 1.3rem;
}

#main {
    min-width: 100%;
    min-height: 100vh;

    background-image: url("../img/hero.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: grid;
    grid-template-areas: "header nav"
                         "insp   insp";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;

    padding: 10px 8px 8px 10px;
}

header {
    grid-area: header;
}

nav {
    grid-area: nav;

    display: flex;
    justify-content: right;
}

nav > div {
    margin-left: 1%;
}

.content {
    display: none;
    position: absolute;

    background-color: darkgray;
}


.item {
    text-decoration: none;
    white-space: nowrap;
}

input[type="checkbox"] {
    display: none;
}

#insp {
    grid-area: insp;
}

@media only screen and (max-width: 550px) {
    #main {
        grid-template-areas: "header"
                             "nav"
                             "insp";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
    }

    nav {
        flex-flow: column;
    }

    .item::before {
        content: "\2022  ";
    }
    
    input[type="checkbox"]:checked ~ .content {
        display: block;
    }

    #insp {
        display: flex;
        align-items: center;
    }
}

@media only screen and (min-width: 551px) {
    nav > div:hover .content {
        display: block;
    }   
}