* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: Ethnocentric;
}

@font-face {
    font-family: Ethnocentric;
    src: url('../fonts/ethnocentric.rg-italic.otf');
}

.dark {
    color: white;
}

.light {
    color: black;
}

.right {
    margin-left: auto;
}

.center {
    position: absolute;
    width: 100%;
    text-align: center;
    pointer-events: none;
}

.center * {
    pointer-events: all;
}

.container {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    width: 100%;

    padding: 7% 2% 2% 2%;

    background-color: white;
}

.container > h1 {
    font-size: 1.8em;
}

.container > .content {
    margin: auto 0;
}

.container.dark {
    background-color: rgb(70, 70, 70);
}

#header {
    display: flex;
    align-items: center;

    padding: 5px 4px;

    position: fixed;
    top: 0%;

    width: 100%;
    height: 40px;

    z-index: 1;

    transition: 0.3s;
}

#header a {
    text-decoration: none;
    font-size: 1em;
    color: black;
    font-weight: bold;
}

#header a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.header-scrolled {
    background-color: white;
}

#header.dark a {
    color: white;
}

#header.dark {
    background-color: transparent;
}

.header-scrolled.dark {
    background-color: rgba(0, 0, 0, 0.5)!important;
    backdrop-filter: blur(10px);
}

#menu {
    display: none;
    overflow: hidden;
}

#menu-toggle {
    display: none;
}

.image-button {
    background-color: transparent;
    border: none;
}

.image-button:hover {
    cursor: pointer;
}

.material-symbols-outlined.dark {
    color: white;
    vertical-align: middle;
}

@media screen and (max-width: 600px) {
    .container {
        padding: 13% 2%;
    }

    #menu {
        display: flex;

        position: absolute;
        top: 0%;
        left: 0%;
        background-color: black;
        padding: 5%;
        width: 100%;
        flex-flow: column;

        transform: translateY(-100%);
        filter: opacity(0%);
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    #menu.open {
        transform: translateY(0);
        filter: opacity(100%);
    }

    #menu > * {
        position: relative;
    }

    #menu > *:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid white;
    }

    #menu > a {
        text-decoration: none!important;
    }
    
    #menu > button {
        text-align: end;
    }

    #menu-toggle {
        display: inline-block;
    }
}

/* INDEX */
body {
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

body.light {
    background-color: darkslategray;
    background-blend-mode: lighten;
}

.parent {
    position: relative;
}

.parent > div.container {
    background: none!important;
}

.parent > img {
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, -50%);
}

#first {
    min-height: 100vh;

    justify-content: center;
    align-items: center;
}

#third > .content, #forth > .content {
    display: flex;
    justify-content: center;
}

#insp {
    font-size: larger;
    font-style: italic;

    animation: 2s anim cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes anim {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

.container.dark + img {
    filter: invert();
}

#third.light {
    background-color: rgb(228, 48, 48);
}

#third.dark {
    background-color: brown;
}

.project {
    display: flex;

    background-color: white;
    color: black;

    width: 200px;
    height: 70px;
    margin: 10px 5px;

    overflow: hidden;

    border-radius: 10px;

    box-shadow: 0 16px 1em 0.5em rgba(0, 0, 0, 0.3);
}

.project.dark {
    background-color: rgb(50, 50, 50);
    color: white;
}

.project > div {
    width: 70px;
    background-color: lightskyblue;
    background-position: center;
}

.project > span {
    margin: 5px 5px;
}

footer {
    display: flex;

    height: 10vh;
    width: 100%;

    align-items: center;
}

@media screen and (max-width: 600px) {
    #links {
        display: none;
    }

    #third > .content, #forth > .content {
        flex-flow: column;
        align-items: center;
    }
}

/* PLAYGROUND */
#pg-first {
    position: relative;
    min-height: 100vh;
}

#pg-second {
    min-height: 50vh;
}

#pg-second > div, #pg-third > div:last-child {
    width: 50%;
    margin: 0 auto;
}

#pg-second > div > input, #pg-third > div:last-child > input {
    width: 100%;
}

#pg-forth {
    min-height: auto;
}

#calc {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    margin: 5% auto;
    display: grid;

    row-gap: 5%;
    column-gap: 2%;
    grid-template-rows: auto 32px 32px 32px 32px 32px;
    grid-template-columns: auto auto auto auto;

    background-color: gray;
    border-radius: 10px;
    box-shadow: 0 16px 1em 0.5em rgba(0, 0, 0, 0.3);

    padding: 15px;
}

#calc > * {
    font-family: Arial, Helvetica, sans-serif;
}

#resultado {
    grid-column-start: 1;
    grid-column-end: 5;

    border-radius: 5px;
    border-color: transparent;
}

#calc > button {
    appearance: none;
    background-color: lightgray;
    border-radius: 5px;
    border: none;
    margin: 2px;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);

    transition: 0.3s;
}

#calc > button:hover {
    background-color: darkgray;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
}

#calc > button:active {
    transition: 0s;
    background-color: rgb(70, 70, 70);
}

#img-container {
    position: relative;
    min-height: auto;
}

#img-container > span {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    color: white;
}

iframe {
    align-self: center;
}