.parent {
    position: relative;
}

.parent > img {
    position: absolute;
    bottom: 0%;
    right: 50%;
    transform: translate(50%, -50%);
}

#menu {
    display: none;
}

#menu-toggle {
    display: none;
}

#first {
    min-height: 100vh;

    background-image: url('../img/bg.jpg');
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

#insp {
    font-size: larger;
    font-style: italic;
}

.container.dark + img {
    filter: invert();
}

#first.dark {
    background-blend-mode: unset;
}

#first.light {
    background-color: darkslategray;
    background-blend-mode:lighten;
}

#third.light {
    background-color: rgb(228, 48, 48);
}

#third.dark {
    background-color: brown;
}

@media screen and (max-width: 600px) {
    #links {
        display: none;
    }

    #menu-toggle {
        display: inline-block;
    }

    #menu {
        position: absolute;
        top: 0%;
        left: 0%;
        background-color: black;
        padding: 5%;
        width: 100%;
        flex-flow: column;
    }

    #menu > * {
        position: relative;
    }

    #menu > *:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        border-bottom: 1px solid white;
    }

    #menu > a {
        text-decoration: none!important;
    }
    
    #menu > button {
        text-align: end;
    }
}

@media screen and (min-width: 601px) {
    #menu {
        display: none!important;
    }
}