@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    font-family: VT323;
    font-size: xx-large;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#container1 {
    display: flex;
    background-color: aquamarine;
    width: 100vw;
    height: 50vh;

    justify-content: center;
    align-items: center;
}

#container2 {
    position: relative;
}

#container2 > img {
    width: 100%;
}

#container2 > p {
    position: absolute;
    top: 100vh;
}