@font-face {
    font-family: DalekPinpointBold;
    src: url("../fonts/DalekPinpointBold.ttf");
}

html {
    background-color: #011E56;
    color: white;

    font-family: sans-serif;
}

main {
    margin-top: 10px;
    margin-bottom: 10px;
}

h1, h2, h3 {
    font-family: DalekPinpointBold, sans-serif;
}


#title, #poema, footer, figcaption {
    text-align: center;
}

#poema {
    font-style: italic;
}

#poema::first-letter {
    font-family: DalekPinpointBold, sans-serif;
    font-size: x-large;
}

span + p {
    font-weight: 700;
}

img, iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a > img {
    display: inline-block;
}

a:link {
    color: red;
}

a:hover {
    color: black;
}

a:visited {
    color: yellow;
}

input, select, textarea {
    display: block;
}

table {
    border-collapse: collapse;
}

td {
    padding: 8px;
    background-color: gray;
}

td[rowspan] {
    background-color:slategray;
}

td[colspan] {
    background-color: darkorange;
}

footer {
    position: bottom;
}